{% extends 'base.html.twig' %}

{% block title %}Account edit !

{% endblock %}

{% block body %}
	<div class="row">
	<div class="col-4 text-center">
						

</div>

			{{ include('account/_form.html.twig', {'submitButtonText': 'Update Account'}) }}
		</div>
	</div>

{% endblock %}

